/* Asterisk wildcard selector to override default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
header{
    background: lightcoral;
    
}

/*  main section */
main content{
    background:yellow;

}


/* footer */
footer{
    background: green;
}